@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #333;
  background: #d8d8d8;
  /* background: #f0f0f0; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.truncate-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines of description in DonateCard */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ant-input-search
  :where(.css-dev-only-do-not-override-djtmh8).ant-input-group
  .ant-input-affix-wrapper:not(:last-child) {
  border-start-start-radius: 100px;
  border-end-start-radius: 100px;
}

:where(.css-dev-only-do-not-override-djtmh8).ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button {
  border-start-end-radius: 100px;
  border-end-end-radius: 100px;
  background-color: #4cc095;
}

:where(.css-dev-only-do-not-override-djtmh8).ant-input-filled:focus,
:where(.css-dev-only-do-not-override-djtmh8).ant-input-filled:focus-within {
  outline: 0;
  border-color: #4cc095;
  background-color: #4cc09549;
}

.ant-select-focused:where(
    .css-dev-only-do-not-override-djtmh8
  ).ant-select-filled:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer)
  .ant-select-selector {
  background: #4cc09549;
  border-color: #4cc095;
  outline: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  background-color: #4cc095;
}

button:active,
[type="button"]:active,
[type="reset"]:active,
[type="submit"]:active {
  background-color: #4cc095;
}

button:hover,
[type="button"]:hover,
[type="reset"]:hover,
[type="submit"]:hover {
  background-color: #4cc095;
}

:where(.css-dev-only-do-not-override-djtmh8).ant-btn-primary {
  background: #4cc095;
}

:where(.css-dev-only-do-not-override-djtmh8).ant-btn-primary:hover {
  background: #4cc095;
}

:where(.css-dev-only-do-not-override-djtmh8).ant-btn-primary:active {
  background: #4cc095;
}

:where(.css-dev-only-do-not-override-djtmh8).ant-btn-primary:not(:disabled):not(
    .ant-btn-disabled
  ):active {
  color: #fff;
  background: #4cc095;
}

:where(.css-dev-only-do-not-override-djtmh8).ant-btn-primary:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  color: #fff;
  background: #4cc095;
}
